
  <% @stores.each do |store,comments| %>
  <%= render partial: "main", locals: { store: store} %> 
  



<p>Find me in app/views/stores/index.html.erb</p>

  <% image_tag(store.images[0], class: "main_image") %> 

<% end %>
