
  <% @stores.each do |store| %>
  <%= render partial: "form", locals: { store: store } %> 
  
<% end %>
  
<p>Find me in app/views/stores/index.html.erb</p>
<p>下伊那の野菜と飯田市特産黒豚である「天竜峡黒豚」を使った一品　落ち着いた雰囲気の楽しめる居酒屋</p>